[Service]
ExecStart=/usr/local/bin/node /home/pi/workspace/alarm-system/main.js
StandardOutput=/var/log/alarm.log
StandardError=/var/log/alarm-error.log
Restart=always
SyslogIdentifier=alarm
User=pi
Group=pi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
